<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <a href="{%url 'logout' %}">Logout</a>
        <a href="{%url 'addtopic' %}">Create</a>
        <h1>Hello</h1>
        {% for item in topic%}
            <p>{{item.name}}</p>
            
            <a href="{% url 'updatetopic' item.id %}">Update</a>
            <a href="{% url 'deletetopic' item.id %}">Delete</a>
            <hr>
        {%endfor %}
    </div>
</body>
</html>